<h3 class="header">Enemy's list</h3>
<button (click)="showPopup()">
  <a> Click Me!!</a>
</button>
<table>
  <tr>
    <th>Name</th>
    <th>Facebook</th>
    <th>Instagram</th>
    <th>Twitter</th>
    <th>LinkedIn</th>
  </tr>
  <tr>
    <td>Ritu Rai</td>
    <td><a href="https://www.facebook.com/ritu.rai.54390/" target="_blank">https://www.facebook.com/ritu.rai.54390/</a></td>
    <td><a href="https://www.instagram.com/___rai_ritu___/?hl=en" target="_blank">https://www.instagram.com/___rai_ritu___/?hl=en</a></td>
    <td><a href="https://twitter.com/RituRai15552511" target="_blank">https://twitter.com/RituRai15552511</a></td>
  <td><a href="https://www.linkedin.com/in/ritu-rai-a2a15181/" target="_blank">https://www.linkedin.com/in/ritu-rai-a2a15181/</a></td>
  </tr>
  <tr>
    <td>Chayan Agarwal</td>
    <td><a href="https://www.facebook.com/chayan.agarwal.3/" target="_blank">https://www.facebook.com/chayan.agarwal.3/</a></td>
    <td><a href="https://www.instagram.com/chayan2307" target="_blank">https://www.instagram.com/chayan2307/</a></td>
    <td><a href="https://twitter.com/Chayan2307" target="_blank">https://twitter.com/Chayan2307</a></td>
    <td><a href="https://www.linkedin.com/in/chayanagarwal" target="_blank">https://www.linkedin.com/in/chayanagarwal/</a></td>
  </tr>
</table>
